body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-color: #264653;
}
.banner p{
    color: #E0E0E0;
    font-weight: 300;
}
.btn-color{
    background-color: #E76F51;
}
.grayscale{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.p-color{
    color: #E76F51;
}
.icons{
    color: #E76F51;
}
.client-name-color{
    color: #23A6F0;
}
